@font-face {
  font-family: 'MullerLight'; /* Имя шрифта */
  src: url('/fonts/fonts/MullerLight.woff');
  src: url('/fonts/fonts/MullerLight.woff2'); 
}
@font-face {
  font-family: 'MullerBold'; /* Имя шрифта */
  src: url('/fonts/fonts/MullerBold.woff');
  src: url('/fonts/fonts/MullerBold.woff2'); 
}
@font-face {
  font-family: 'MullerMedium'; /* Имя шрифта */
  src: url('/fonts/fonts/MullerMedium.woff');
  src: url('/fonts/fonts/MullerMedium.woff2'); 
}
@font-face {
  font-family: 'MullerRegular'; /* Имя шрифта */
  src: url('/fonts/fonts/MullerRegular.woff');
  src: url('/fonts/fonts/MullerRegular.woff2'); 
}
*{
  box-sizing:border-box;
  font-family: MullerRegular;
  font-size: 16px;
}
a {
  text-decoration:none;
}
.text-center{
  text-align: center;
}
body{
  background-color: #f1f1f1;
}  
ul{
  list-style:none;
  margin:0;
  padding:0;
}
img{
  max-width:100%;
}
html{
  font-family: sans-serif;
}
.container {
  max-width:1170px;
  margin-right: auto;
  margin-left:auto;  
    /* padding-right: 15px;
    padding-left: 45px;*/
  }

.header{
  height: 154px;
}

.header-top{
  display:flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
   
}
.logo {
  margin-right: auto;
}
.header-top-link{
  margin-right: 400px;
  font-family: MullerMedium;
  font-weight: 500;
  font-size: 20px;
  color: #666666;
  align-items: center;

}
.header-top-personal-cabinet{
  margin-right: 0px;
  color: #CC9933;
  background-image: url(/img/Exit.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 21px;
  align-items: center;
}
.header-bottom{
  display: flex;
  background-color: #FFFFFF;
}
.nav{
  display:flex;
  justify-content: space-around;
  width: 1170px;
  background-color: #FFFFFF;
}
.nav-list{
  display:flex;
  height: 70px;
  background-color: #FFFFFF;
  align-items: center;
}
.nav-item {
  margin-right: 45px;
  background-color: #FFFFFF;
  text-align: center;
}
.nav-link{
  font-family: MullerRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #666666;
}
.header-button{
  display: flex;
  align-items: center;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color:#F0BF5F;
  max-height: 42px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 14px;
}

.section-heading{
  margin-top: 0px;
  margin-bottom: 20px;
  display: block;
  font-size: 40px;
  font-family: MullerLight;
  padding-left: 40px;
}
.section-offer-container{
  display: flex;
}

.section-offer-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  justify-content: space-between;
}

.section-offer-item {    
  position: relative;
  min-height: 258px;
  margin-right: 23px;
}
.section-offer-item:first-child{
  background-image: url(/img/Rectangle\ 14.jpg);
  background-repeat: no-repeat;
}
.section-offer-item-third {    
  position: relative;
  min-height: 540px;
  background-image: url(/img/33\ 1.jpg);
  background-repeat: no-repeat;
}  
.section-offer-item:nth-child(2) {
  margin-top: 23px;
  background-image: url(/img/Rectangle\ 15.jpg);
  background-repeat: no-repeat;
}
.section-offer-item-heading{
  display: block;
  color: #FFFFFF;
  font-size: 40px;
  padding-top: 40px;
  padding-left: 45px;
  max-width: 420px;
}
.heading-second{
  padding-top: 0px;
  margin-top: 0px;
  text-align:justify-all;
  padding-left: 0px;
}
.heading-third{
  display: block;
  font-size: 60px;
  padding-top: 212px;
}
.section-offer-item-description{
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  padding-left: 45px;
}
.section-offer-item-btn{
  display: flex;
  flex-direction: row;
  color:#F0BF5F;
  line-height: 16px;
  padding-left: 40px; 
}
.section-offer-item-btn-icon{
  display: flex;
  flex-direction: row;
  background-image: url(/img/Rectangle\ 2.svg);
  background-repeat: no-repeat;
  background-position: right center;
  margin-top: 0px;
  width: 11px;
  height: 11px;
  transform: translateY(1.5px);
}
.section-description{
  font-size: 16px;
  line-height: 32px;
  font-family: MullerRegular;
  font-weight: 400;
  width: 888px;
  
}
.heading-services{
  margin:0px;
  margin-bottom: 20px;
}
.section-services-list{
  display: flex;
  flex-wrap: wrap;
}
.section-services-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:flex-start ;
  padding-top: 191px;
  width: 573px;
  height: 330px;
  margin-right: 24px;
  border-radius: 15px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: top center;
}
.section-services-item:nth-child(1){
  background-image: url(/img/10.png);
}
.section-services-item:nth-child(2){
  margin-right: 0px;
  background-image: url(/img/15.png);
}
.section-services-item:nth-child(3){
  margin-top: 24px;
  background-image: url(/img/12.png);
}
.section-services-item:last-child{
  margin-right: 0px;
  margin-top: 24px;
  background-image: url(/img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.png);
}
.section-services-item-heading{
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 45px;
  color: #CC9933;
  font-size: 20px;
  font-family: MullerRegular;
  line-height: 40px;
  font-weight: 800;
}
.section-services-item-icon{
  margin-left: 5px;
  margin-top: 15px;
  background-image: url(/img/Rectangle\ 2.svg);
  background-size: contain;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: right center;
}

.section-services-item-description{
  display: block;
  margin-top: 0px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: MullerMedium;
  margin: 0px;
  color: #000000;
}
.section-heading{
  margin-top: 70px;
  margin-bottom: 20px;
}
.section-advantages-list{
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
}
.section-advantages-item{
  width: 276px;
  height: 276px;
  border-radius: 15px;
  padding-top: 40px;
  padding-left: 45px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-right: 22px;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: MullerRegular;
  line-height: 32px;
  text-align: left;
}
.section-advantages-item:nth-child(4),
.section-advantages-item:last-child{
  margin-right: 0px;
}
.section-advantages-item:nth-child(5),
.section-advantages-item:nth-child(6),
.section-advantages-item:nth-child(7),
.section-advantages-item:last-child{
  margin-bottom: 0px;
}
.section-advantages-item-icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
 }
.icon-first{
  background-image: url(/img/bathtub.svg);
  width: 64px; 
  height: 66px; 
}
.icon-second{
  background-image: url(/img/hanger.svg);
  width: 67px; 
  height: 66px; 
}
.icon-third{
  background-image: url(/img/heating.svg);
  width: 64px; 
  height: 66px;
}
.icon-fourth{
  background-image: url(/img/hotel-key.svg);
  width: 66px; 
  height: 66px; 
}
.icon-fifth{
  background-image: url(/img/parking.svg);
  width: 66px; 
  height: 66px;
}
.icon-sixth{
  background-image: url(/img/reception.svg);
  width: 64px; 
  height: 66px;
}
.icon-seventh{
  background-image: url(/img/security-box.svg);
  width: 67px; 
  height: 66px;
}
.icon-eighth{
  background-image: url(/img/swimming-pool.svg);
  width: 64px; 
  height: 66px;
}
.section-replace-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  
}
.section-replace-item{
  margin: 0;
  width: 374px;
  flex-basis: 31.2%;
  height: 440px;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.section-replace-item-img{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 374px;
  height: 217px;
  border-radius: 15px, 15px, 0px, 0px;
}
.img-first{
  background-image: url(/img/23.png);
}
.img-second{
  background-image: url(/img/24.png);
}
.img-third{
  background-image: url(/img/26.png);
}
.img-fourth{
  background-image: url(/img/29-1.png);
}
.img-fifth{
  background-image: url(/img/30.png);
}
.img-sixth{
  background-image: url(/img/31.png);
}
.img-seventh{
  background-image: url(/img/27.png);
}
.img-eigth{
  background-image: url(/img/29.png);
}
.img-ninth{
  background-image: url(/img/41.png);
  height: 440px;
}
.section-replace-item-price{
  display: inline-block;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1;
  font-family: MullerRegular;
  font-weight: 400;
  color:  #999999;
}
.strong-price{
  color: #000;
  margin: 0 0 0 5px;
  font-weight: 700;
  font-size: 20px;
}
.strong-night{
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  margin:0 0 0 10px;
   
}
.section-replace-item-star {
  display: inline-block;
  margin-left: 50px;
  margin-right: 0px;
  height: 20px;
}
.section-replace-item-heading{
  display: block;
  font-size: 16px;
  line-height: 1;
  height: 20px;
  margin-left: 50px;
  margin-bottom: 0px;
}
.section-replace-item-description{
  display: block;
  font-size: 16px;
  line-height: 1;
  margin-left: 50px;
  color:#999999;
  font-weight: 400;
}
.section-replace-item-btn{
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #CC9933;
  border-radius: 10px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1;
  width: 100px;
  height: 42px;

}
.section-replace-item:not(:nth-child(-n+3)){
  margin-top: 24px;
}

.section-replace-item:not(:last-child) {
  margin-right: 24px;
}
.section-replace-item:nth-child(3),
.section-replace-item:nth-child(6){
  margin-right: 0px;
}
.description-ninth{
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #FFFFFF;
  position: absolute;
  padding-left: 54px;
  padding-top: 390px;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 40px;
  min-height: 106px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 70px;

}
.labels{
  display: flex;
  flex-direction:column;
  float:left;
  margin-right: 30px;
  font-family: MullerRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #000;
  border: 0;
}
.form-label{
  font-family: MullerRegular;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #000;
}
.input,
.country,
.city{
  border:0px white;
}
.btn-submit{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #CC9933;
  border-radius: 10px;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  width: 108px;
  height: 42px; 
  background-color: #FFFFFF;
}
.section-contact-container{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 618px;
  border-radius: 15px;
}
.section-contact-heading{
  display: inline-block;
  min-width: 98px;
  font-family: MullerRegular;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.section-contact-list{
  display: inline-block;
  margin: 45px;
  width: 375px;
}
.section-contact-cell{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border:none;
  border-bottom: 1px solid #e9e9e9;
}
.section-contact-link{
  display: block;
  font-weight: 400;
  font-family: MullerMedium;
  font-size: 16px;
  line-height: 24px;
  color: #CC9933;
  text-align: left;
}
.section-contact-right{
  display: inline-block;
  padding-left: 80px;
}
.section-contact-image{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-right: 45px;
  background-position: right center;
  background-image: url(/img/Layer\ 2\ 1.png);
  background-repeat: no-repeat;
  width: 653px;
  height: 528px;
}
.section-contact-btn{
  display: inline-block;
  font-weight: 400;
  font-family: MullerMedium;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  padding: 30px;
  margin-top: 45px;
}
.link-description{
  color: #999999;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 45px;
  margin-top: 40px;
  background-color: #333;
  background-image: url(/img/Logo_bw.svg);
  background-repeat: no-repeat;
  background-position: 75% 100%;
  border-radius: 15px;
}
.footer-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 305px;
}
.footer-copyrights{
  margin-top: 0px;
}
.footer-left-text{
  margin-bottom: 50px;
  font-family: MullerLight;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  text-align: left;
  color: #FFFFFF;
}
.footer-center{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 100px;
  padding-bottom: 170px;
  text-align: left;
}
.footer-center-text{
  font-family: MullerLight;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  text-align: left;
  color: #FFFFFF;
}
.footer-right{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-bottom: 170px;
}
.footer-social-icon-trip{
  display: block;
  background-image: url(/img/Trip.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.footer-social-icon-ok{
  display: block;
  background-image: url(/img/ok.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.footer-social-icon-vk{
  display: block;
  background-image: url(/img/VK.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}