@font-face {
  font-family: 'MullerLight'; /* Имя шрифта */
  src: url('/fonts/fonts/MullerLight.woff');
  src: url('/fonts/fonts/MullerLight.woff2'); 
}
@font-face {
  font-family: 'MullerBold'; /* Имя шрифта */
  src: url('/fonts/fonts/MullerBold.woff');
  src: url('/fonts/fonts/MullerBold.woff2'); 
}
@font-face {
  font-family: 'MullerMedium'; /* Имя шрифта */
  src: url('/fonts/fonts/MullerMedium.woff');
  src: url('/fonts/fonts/MullerMedium.woff2'); 
}
@font-face {
  font-family: 'MullerRegular'; /* Имя шрифта */
  src: url('/fonts/fonts/MullerRegular.woff');
  src: url('/fonts/fonts/MullerRegular.woff2'); 
}
*{
  box-sizing:border-box;
  font-family: MullerRegular;
  font-size: 16px;
}
a {
  text-decoration:none;
}
.text-center{
  text-align: center;
}
body{
  background-color: #f1f1f1;
}  
ul{
  list-style:none;
  margin:0;
  padding:0;
}
img{
  max-width:100%;
}
html{
  font-family: sans-serif;
}
:root {
  --background-color:#FFFFFF;
  --theme-color:#CC9933;
  --theme-color2:#F0BF5F;
}
.container {
  max-width:1170px;
  margin-right: auto;
  margin-left:auto;  
    /* padding-right: 15px;
    padding-left: 45px;*/
  }

.header{
  height: 154px;
}

.header-top{
  display:flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
   
}
.header-top__logo {
  margin-right: auto;
}
.header-top__link{
  margin-right: 400px;
  font-family: MullerMedium;
  font-weight: 500;
  font-size: 20px;
  color: #666666;
  align-items: center;
}
.header-top__link:hover{
  color: var(--theme-color);
}
.header-top__link:active{
  color: #A47312;
  border: none;
}
.header-top__link:focus{
  color: var(--theme-color);
  outline: 1px solid var(--theme-color);
}
.header-top__personal-cabinet{
  margin-right: 0px;
  color: var(--theme-color);
  background-image: url(/img/Exit.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 21px;
  align-items: center;
}
.header-top__personal-cabinet:hover{
  color: var(--theme-color);
}
.header-top__personal-cabinet:focus{
  color: var(--theme-color);
  outline: 1px solid var(--theme-color);
}
.header-top__personal-cabinet:active{
  color: #A47312;
  border: none;
}
.header-bottom{
  display: flex;
  background-color: var(--background-color);;
}
.header-bottom__nav{
  display:flex;
  justify-content: space-around;
  width: 1170px;
  background-color: var(--background-color);
}
.header-bottom__nav-list{
  display:flex;
  height: 70px;
  background-color: var(--background-color);;
  align-items: center;
}
.header-bottom__nav-item {
  margin-right: 45px;
  background-color: var(--background-color);;
  text-align: center;
}
.header-bottom__nav-link{
  font-family: MullerRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #666666;
  transition: transform 0.4s linear;
}
.header-bottom__nav-link:hover{
  transform: translateY(5px);
}
.header-button{
  display: flex;
  align-items: center;
  border: 1px solid var(--theme-color);
  border-radius: 10px;
  color:var(--theme-color2);
  max-height: 42px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 14px;
  transition: background-color 0.3s ease;
}
.header-button:active{
  background-color:#A47312;
  color: var(--background-color);
  border: none;
}
.header-button:focus-visible{
  background-color: var(--theme-color);
  color: var(--background-color);
  outline: 1px solid var(--theme-color);
}
.header-button:hover{
  background-color: var(--theme-color);
  color: var(--background-color)
}

.section-heading{
  margin-top: 0px;
  margin-bottom: 20px;
  display: block;
  font-size: 40px;
  font-family: MullerLight;
  padding-left: 40px;
}
.section-offer-container{
  display: flex;
}

.section-offer-container__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
}

.section-offer-container__item {    
  position: relative;
  min-height: 258px;
  border-radius: 15px;
}


.section-offer-container__item:first-child{
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(/img/Rectangle\ 14.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
.section-offer-right__item-third {    
  position: relative;
  min-height: 540px;
  min-width: 596px;
  margin-left: 23px;
  background-image:url(/img/33\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}  
.section-offer-container__item:nth-child(2) {
  margin-top: 23px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),url(/img/Rectangle\ 15.jpg);
  background-repeat: no-repeat;
}
.section-offer-container__item-heading{
  display: block;
  color: #FFFFFF;
  font-size: 40px;
  padding-top: 40px;
  padding-left: 45px;
  max-width: 420px;
}
.section-offer-right__item-heading{
  display: block;
  color: #FFFFFF;
  font-size: 40px;
  padding-top: 40px;
  padding-left: 45px;
  max-width: 420px;
}
.heading-second{
  padding-top: 0px;
  margin-top: 0px;
  text-align:justify-all;
  padding-left: 0px;
}
.heading-third{
  display: block;
  font-size: 60px;
  padding-top: 212px;
}
.section-offer-container__item-description{
  font-size: 30px;
  line-height: 30px;
  color:var(--background-color);
  padding-left: 45px;
}
.section-offer-container__item-btn{
  display: flex;
  flex-direction: row;
  position: relative;
  color: var(--background-color);
  line-height: 16px;
  padding-left: 40px; 
  transition: transform .4s linear;
}
.section-offer-container__item:hover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid #CC9933;
  outline-offset: 8px;
}


.section-offer-container__item-btn:hover{
  color: var(--theme-color);
}
.section-offer-container__item-btn:hover .section-offer-container__item-btn-icon{
  transform: translate(11px);
}
.section-offer-container__item-btn-icon{
  display: flex;
  flex-direction: row;
  background-image: url(/img/Rectangle\ 2.svg);
  background-repeat: no-repeat;
  background-position: right center;
  margin-top: 0px;
  width: 11px;
  height: 11px;
  transform: translateY(1.5px);
}
.section-offer-container__item-btn-icon:hover{
 transform: translate(11px);
}
.section-info__description{
  font-size: 16px;
  line-height: 32px;
  font-family: MullerRegular;
  font-weight: 400;
  width: 888px;
  
}
.section-services__heading{
  margin:0px;
  margin-bottom: 20px;
}
.section-services__list{
  display: flex;
  flex-wrap: wrap;
}
.section-services__item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:flex-start ;
  position: relative;
  padding-top: 191px;
  width: 573px;
  height: 330px;
  margin-right: 24px;
  border-radius: 15px;
  background-color:var(--background-color);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-color 0.4s ease;
}
.section-services__item:hover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid #CC9933;
  outline-offset: 8px;
}
.section-services__item:nth-child(1){
  background-image: url(/img/10.png);
}
.section-services__item:nth-child(2){
  margin-right: 0px;
  background-image: url(/img/15.png);
}
.section-services__item:nth-child(3){
  margin-top: 24px;
  background-image: url(/img/12.png);
}
.section-services__item:last-child{
  margin-right: 0px;
  margin-top: 24px;
  background-image: url(/img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.png);
}
.section-services__item-heading{
  display: flex;
  position: relative;
  margin-bottom: 0px;
  margin-left: 45px;
  color: var(--theme-color);
  font-size: 20px;
  font-family: MullerRegular;
  line-height: 40px;
  font-weight: 800;
  transition: transform .4s linear;
}
.section-services__item-heading:hover{
  outline: 1px solid var(--theme-color);
}
.section-services__item-heading:focus-visible{
  outline: 1px solid var(--theme-color);
}
.section-services__item-heading:active{
  outline: 1px solid var(--theme-color);
}
.section-services__item-icon{
  margin-left: 5px;
  margin-top: 15px;
  background-image: url(/img/Rectangle\ 2.svg);
  background-size: contain;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: right center;
}

.section-services__item-description{
  display: block;
  margin-top: 0px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: MullerMedium;
  margin: 0px;
  color: #000000;
}
.section-heading{
  margin-top: 70px;
  margin-bottom: 20px;
}
.section-advantages__list{
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
}
.section-advantages__item{
  width: 276px;
  height: 276px;
  border-radius: 15px;
  padding-top: 40px;
  padding-left: 45px;
  background-color:var(--background-color);
  border-radius: 15px;
  margin-right: 22px;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: MullerRegular;
  line-height: 32px;
  text-align: left;
  transition: background-color 0.4s ease;
}
.section-advantages__item:hover{
  background-color: var(--theme-color2);
}

.section-advantages__item:nth-child(4),
.section-advantages__item:last-child{
  margin-right: 0px;
}
.section-advantages__item:nth-child(5),
.section-advantages__item:nth-child(6),
.section-advantages__item:nth-child(7),
.section-advantages__item:last-child{
  margin-bottom: 0px;
}
.section-advantages__item-icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
 }
.icon-first{
  background-image: url(/img/bathtub.svg);
  width: 64px; 
  height: 66px; 
}
.icon-second{
  background-image: url(/img/hanger.svg);
  width: 67px; 
  height: 66px; 
}
.icon-third{
  background-image: url(/img/heating.svg);
  width: 64px; 
  height: 66px;
}
.icon-fourth{
  background-image: url(/img/hotel-key.svg);
  width: 66px; 
  height: 66px; 
}
.icon-fifth{
  background-image: url(/img/parking.svg);
  width: 66px; 
  height: 66px;
}
.icon-sixth{
  background-image: url(/img/reception.svg);
  width: 64px; 
  height: 66px;
}
.icon-seventh{
  background-image: url(/img/security-box.svg);
  width: 67px; 
  height: 66px;
}
.icon-eighth{
  background-image: url(/img/swimming-pool.svg);
  width: 64px; 
  height: 66px;
}
.section-replace__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  
}
.section-replace__item{
  margin: 0;
  width: 374px;
  flex-basis: 31.2%;
  height: 440px;
  background-color: #FFFFFF;
  border-radius: 15px;
  transition: background-color .4s ease;
}
.section-replace__item:hover{
  background-color:var(--theme-color2) ;
}
.section-replace__item-img{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 374px;
  height: 217px;
  border-radius: 15px, 15px, 0px, 0px;
}
.img-first{
  background-image: url(/img/23.png);
}
.img-second{
  background-image: url(/img/24.png);
}
.img-third{
  background-image: url(/img/26.png);
}
.img-fourth{
  background-image: url(/img/29-1.png);
}
.img-fifth{
  background-image: url(/img/30.png);
}
.img-sixth{
  background-image: url(/img/31.png);
}
.img-seventh{
  background-image: url(/img/27.png);
}
.img-eigth{
  background-image: url(/img/29.png);
}
.img-ninth{
  display: flex;
  position: relative;
  background-image: url(/img/41.png);
  height: 440px;
}
.section-replace__item-price{
  display: inline-block;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1;
  font-family: MullerRegular;
  font-weight: 400;
  color:  #999999;
}
.strong-price{
  color: #000;
  margin: 0 0 0 5px;
  font-weight: 700;
  font-size: 20px;
}
.strong-night{
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  margin:0 0 0 10px;
   
}
.section-replace__item-star {
  display: inline-block;
  margin-left: 50px;
  margin-right: 0px;
  height: 20px;
}
.section-replace__item-heading{
  display: block;
  font-size: 16px;
  line-height: 1;
  height: 20px;
  margin-left: 50px;
  margin-bottom: 0px;
}
.section-replace__item-description{
  display: block;
  font-size: 16px;
  line-height: 1;
  margin-left: 50px;
  color:#999999;
  font-weight: 400;
}
.section-replace__item-btn{
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid var(--theme-color);
  border-radius: 10px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1;
  width: 100px;
  height: 42px;
  color: var(--theme-color);
  transition: background-color 0.3s ease;
}
.section-replace__item-btn:active{
  background-color:#A47312;
  color: var(--background-color);
  border: none;
}
.section-replace__item-btn:focus-visible{
  background-color: var(--theme-color);
  color: var(--background-color);
  outline: 1px solid var(--theme-color);
}
.section-replace__item-btn:hover{
  background-color: var(--theme-color);
  color: var(--background-color)
}
.section-replace__item:not(:nth-child(-n+3)){
  margin-top: 24px;
}

.section-replace__item:not(:last-child) {
  margin-right: 24px;
}
.section-replace__item:nth-child(3),
.section-replace__item:nth-child(6){
  margin-right: 0px;
}
.description-ninth{
  display: flex;
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: var(--background-color);
  position: absolute;
  padding-left: 54px;
  padding-top: 390px;
  transition: transform .5s linear;
}
.description-ninth::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.description-ninth:hover{
  transform: translateY(50px);
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 40px;
  min-height: 106px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 70px;

}
.form-container__labels{
  display: flex;
  flex-direction:column;
  float:left;
  margin-right: 30px;
  font-family: MullerRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #000;
  border: 0;
}
.form-container__form-label{
  font-family: MullerRegular;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #000;
}
.form-container__input,
.form-container__country,
.form-container__city{
  border:0px white;
}
.border-bottom{
  border: none;
  border-bottom: 1px solid #E9E9E9;
}
.btn-submit{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--theme-color);
  border-radius: 10px;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  width: 108px;
  height: 42px; 
  background-color: #FFFFFF;
  transition: background-color 0.3s ease;
}
.btn-submit:active{
  background-color:#A47312;
  color: var(--background-color);
}
.btn-submit:focus-visible{
  background-color: var(--theme-color);
  color: var(--background-color);
  outline: 1px solid var(--theme-color);
}
.btn-submit:hover{
  background-color: var(--theme-color);
  color: var(--background-color)
}
.section-contact-container{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 618px;
  border-radius: 15px;
}
.section-contact-container__heading{
  display: inline-block;
  min-width: 98px;
  font-family: MullerRegular;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.section-contact-container__list{
  display: inline-block;
  margin: 45px;
  width: 375px;
}
.section-contact-container__cell{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border:none;
  border-bottom: 1px solid #e9e9e9;
}
.section-contact-container__link{
  display: block;
  font-weight: 400;
  font-family: MullerMedium;
  font-size: 16px;
  line-height: 24px;
  color:var(--theme-color);
  text-align: left;
  transition: transform 0.4s linear;
}
.section-contact-container__link:active{
  color:#A47312;
}
.section-contact-container__link:focus-visible{
  color: var(--theme-color);
  outline: 1px solid var(--theme-color);
}
.section-contact-container__link:hover{
  color: var(--theme-color);
}
.section-contact-container__right{
  display: inline-block;
  padding-left: 80px;
}
.section-contact-container__image{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-right: 45px;
  background-position: right center;
  background-image: url(/img/Layer\ 2\ 1.png);
  background-repeat: no-repeat;
  width: 653px;
  height: 528px;
}
.section-contact-container__btn{
  display: inline-block;
  font-weight: 400;
  font-family: MullerMedium;
  font-size: 16px;
  line-height: 16px;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 10px;
  padding: 30px;
  margin-top: 45px;
  transition: background-color 0.3s ease;
}
.section-contact-container__btn:active{
  background-color:#A47312;
  color: var(--background-color);
}
.section-contact-container__btn:focus-visible{
  background-color: var(--theme-color);
  color: var(--background-color);
  outline: 1px solid var(--theme-color);
}
.section-contact-container__btn:hover{
  background-color: var(--theme-color);
  color: var(--background-color);
}
.link-description{
  color: #999999;
  font-family: Muller;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 45px;
  margin-top: 40px;
  background-color: #333;
  background-image: url(/img/Logo_bw.svg);
  background-repeat: no-repeat;
  background-position: 75% 100%;
  border-radius: 15px;
}
.footer-container__left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 305px;
}
.footer-container__left-copyrights{
  margin-top: 0px;
}
.footer-container__left-text{
  margin-bottom: 50px;
  font-family: MullerLight;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  text-align: left;
  color: #FFFFFF;
}
.footer-container__center{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 100px;
  padding-bottom: 170px;
  text-align: left;
}
.footer-container__center-text{
  font-family: MullerLight;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  text-align: left;
  color: #FFFFFF;
}
.footer-container__left-link{
  display: block;
  font-family: MullerLight;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  text-align: left;
  color:var(--theme-color);
  transition: transform 0.4s linear;
}
.footer-container__left-link:hover{
  color: var(--theme-color);
}
.footer-container__left-link:active{
  color: #A47312;
}
.footer-container__left-link:focus{
  color: var(--theme-color);
  outline: 1px solid var(--theme-color);
}
.footer-container__center-contact-link{
  display: block;
  font-family: MullerLight;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  text-align: left;
  color: var(--theme-color);
  transition: transform 0.4s linear;
}
.footer-container__center-contact-link:hover{
  color: var(--theme-color);
}
.footer-container__center-contact-link:active{
  color: #A47312;
}
.footer-container__center-contact-link:focus{
  color: var(--theme-color);
  outline: 1px solid var(--theme-color);
}

.footer-container__right{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-bottom: 170px;
}
.footer-container__right-social-icon-trip{
  display: block;
  background-image: url(/img/Trip.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.footer-container__right-social-icon-ok{
  display: block;
  background-image: url(/img/ok.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.footer-container__right-social-icon-vk{
  display: block;
  background-image: url(/img/VK.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}